# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Spark
metastore_db/
spark-warehouse/

# Local generated data
data/bronze/*
data/silver/*
data/gold/*
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep